*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

.card{
    position: relative;
    width: 380px;
    height: 550px;
    background-color: white;
}

.card .lines{
    position: absolute;
    inset: 0;
    background-color: black;
    overflow: hidden;
}

.card .lines::before{
    content: '';
    background: linear-gradient(transparent,red,green, blue,transparent);
    width: 700px;
    height: 220px;
    top:50%;
    left:50%;
    position: absolute;
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}

.card .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background-color: #292929;
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.content img{
    width: 35%;
    border-radius: 50%;
}

.content .username{
    color: rgb(67,209,209);
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.content .title{
    margin-top: 5px;
    color:white;
}

.services {
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .title{
    font-size: 20px;
}

.services ul{
    font-size: 20px;
}

.services ul li{
    padding: 4px;
}

.services ul li:nth-child(odd){
    color: rgb(27,233,132);
}

.services ul li:nth-child(even){
    color: rgb(89,174,235);
}
